* {
    box-sizing: border-box;
}
.mar-body{
    margin-left: 700px;
    margin-right: 700px;
}
.row {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.column-2 {
    display: flex;    
    width: 100px;
    border: 1px solid black;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.11);
}
h1{
    font-size: 50px;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
font-family: 'Noto Sans Nandinagari', sans-serif;
}
header{
    text-align: center;
    width: 100%;
    background-position:center;
    padding: 10px;
    
}
.cuadrado{
    border: 1px solid black;
    height: 500px;
    background-color: rgb(253, 238, 207);
}
img{
    height: 100px;
    width: 40%;
}

.enla-a{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Sans Nandinagari', sans-serif;
    font-size: larger;
    color: black;
    font-weight: 400;
}
  .line-bel {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  hr {
    border: 1px solid #ddd;
    margin: 20px 0;
  }

